html {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    max-width: 600px;
    flex: 1;
    justify-content: center;
}

.row {
    display: flex;
    gap: 10px;
    border: none;
    justify-content: center;
}

button {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    flex: 0 0 90px;
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    border: none;
    box-shadow: 1px 1px 0.5px #ffffff3d inset, -1px -1px 0.5px #ffffff3d inset;
    border-width: 1px;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover, .keydown {
    transform: scale(1.15);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.3s;
}

.button svg {
    padding: 0;
    margin: 0;
    border: 0;
}

.toprow,
.operator,
.digit,
.bottomrow,
.display {
    color: white;
}

.toprow {
    background-color: #7e7c7c;
}

.toprow:hover, .toprow.keydown {
    background-color: rgb(168, 163, 163);
}

.digit,
.bottomrow {
    background-color: rgb(67, 65, 65);
}

.digit:hover, .digit.keydown,
.bottomrow:hover, .bottomrow.keydown {
    background-color: #858181;
}

.operator {
    background-color: rgb(255, 136, 0);
}

.operator:hover, .operator.keydown {
    background-color: #ffa048;
}

.display {
    height: 60px;
    width: 404px;
    font-family: "Nunito", sans-serif;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.last-operation {
    height: 50px;
    width: 404px;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: #757575;
    font-weight: 600;
}