html {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

*, *::before, *::after {
    box-sizing: inherit;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.row {
    display: flex;
    gap: 20px;
}

button {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    flex: 1;
    border: none;
}

.toprow,
.operator,
.digit,
.bottomrow,
.display {
    flex: 1;
    color: white;
}

.toprow {
    background-color: rgb(158, 158, 158);
}

.digit,
.bottomrow {
    background-color: rgb(47, 47, 47);
}

.operator {
    background-color: rgb(223, 135, 3);
}

.display {
    flex: 1 1 200px;
}