html {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    max-width: 600px;
    flex: 1;
}

.row {
    display: flex;
    gap: 10px;
    border: none;
}

button {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    flex: 1;
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    border: none;
    box-shadow: 1px 1px 0.5px #ffffff3d inset, -1px -1px 0.5px #ffffff3d inset;
    border-width: 1px;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    transform: scale(1.15);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.3s;
}

.button svg {
    padding: 0;
    margin: 0;
    border: 0;
}

.toprow,
.operator,
.digit,
.bottomrow,
.display {
    flex: 1;
    color: white;
}

.toprow {
    background-color: #7e7c7c;
}

.toprow:hover {
    background-color: rgb(168, 163, 163);
}

.digit,
.bottomrow {
    background-color: rgb(67, 65, 65);
}

.digit:hover,
.bottomrow:hover {
    background-color: #858181;
}

.operator {
    background-color: rgb(255, 136, 0);
}

.operator:hover {
    background-color: #ffa048;
}

.display {
    flex: 1;
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 10vh;
    text-align: right;
}