html {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    max-width: 600px;
    flex: 1;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    flex: 1;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}

.toprow,
.operator,
.digit,
.bottomrow,
.display {
    flex: 1;
    color: white;
}

.toprow {
    background-color: rgb(158, 158, 158);
}

.digit,
.bottomrow {
    background-color: rgb(47, 47, 47);
}

.operator {
    background-color: rgb(223, 135, 3);
}

.display {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 10vh;
}